/* reset */
*{font-family: 'Microsoft YaHei';box-sizing: border-box;}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li{margin:0;padding:0;}
img{vertical-align: middle;border: 0;}
.clear{zoom: 1;}
.clear:after{content: '';display: block;clear: both;}
.fl{float: left;}
.fr{float: right;}
a{text-decoration: none;}
ul,ol,dl{list-style: none;}
.font{font-family:'Microsoft YaHei';}

/* layout */


#header{background:url('../images/header.png') no-repeat center;background-size: cover;}
.prize{background:url('../images/prize_bg.jpg') no-repeat center;background-size: cover;padding-bottom: 100px;}
#fixed{height:80px;width:100%;position: fixed;bottom:0;left:0;background:#7d0505;width:100%;}
#phone{height:60px;width:100%;position: fixed;bottom:0;left:0;background:url('../images/phone.jpg') no-repeat center;background-size: cover;}
.container{width:100%;margin:0 auto;}

/* header */
#header .time{width:100vw;height:100%;position: relative;}
#header .con{position: absolute;bottom:24vw;left:5vw;width:90vw;color:#fff;}
#header .con h2{font-size:16px;text-align: center;line-height: 2em;}
#header .con p{font-size:12px;text-align: justify;letter-spacing: 2px;line-height: 2em;}

/* pandect */
#pandect{text-align: center;}
#pandect .fp-tableCell{vertical-align: middle;}
#pandect img.title{margin:0 auto;width:80vw;display: block;}
#pandect .roll{width:80vw;margin:0 auto 20vw;border:8px solid #292929;position: relative;overflow: hidden;}
#pandect .roll ul{position: absolute;top:0;left:0;}
#pandect .roll ul li{float: left;}
/* #pandect .option{padding:40px 12px 50px;}
#pandect .option .unit{width:200px; margin-left:200px;border-top:12px solid #780000;float:left;color:#fff;font-weight: bold;font-size: 20px;letter-spacing:5px;padding-top:10px;cursor: pointer;opacity: 0.4;}
#pandect .option .unit.first{margin-left: 0;} */

/* details */
.details .container .big{width:90vw;position: relative;overflow: hidden;display: block;margin:0 auto;}
.details .container .txt{display: block;width:80vw;margin:0 auto 20vw;position: relative;}
.details .container .txt img{width:80vw;}
.details .container .txt a{position: absolute;bottom:0;left:0;width:80vw;height: 14vw;display: block;}
.details .container .big ul{width:360vw;position: absolute;top:0;left:0;}
.details .container .big ul li{width:90vw;}
.details .container .big ul li img{width:90vw;}

/* tables */
#tables{background:url('../images/table_bg.jpg') no-repeat center;background-size: cover;text-align: center;}
#tables .table_title{width:80vw;margin:0 auto;display: block;}
#tables h3{font-weight: normal;font-size: 12px;width:96vw;margin:0 auto;line-height: 1.5em;text-align: justify;color:#fff;letter-spacing: 2px;padding-bottom: 8px;}
#tables .table{width:96vw;margin:0 auto;display: block;}
#tables p{text-align: justify;font-size:12px;color:#fff;width:96vw;margin:0 auto;line-height: 2em;}
#tables span{display: block;text-align: justify;font-size: 12px;color:#FD4343;width:96vw;margin:0 auto;line-height: 2em;padding-bottom: 20vw;}

#tables table{border:1px solid #fff;border-collapse: collapse;color:#fff;width:96vw;margin:0 auto 3vw;}
#tables table tr{height:36px;}
#tables table td{border:1px solid #fff;width:32vw;font-size:14px;}
#tables table td.h1{font-size: 18px;font-weight: bold;}
#tables table td.h2{font-size: 16px;font-weight: bold;}

